body {
    background-color: #222222;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-style: normal;
}

header {
    color: #000000;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul {
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    font-size: 1.25rem;
    padding-left: 15px;
    display: inline-block;
    justify-content: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color: #2f4550;
}

p {
    color: #ffffff;
    margin-top: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#logoimg{
    height: 45px;
}

#signUpButton{
    align-items: end;
    color: cyan;
}

.loginImg{
    height: 45px;
    margin: 0;
}

form{
    display: grid;
    padding: 0;
    margin: 0;
    align-items: center;
}

#loginBut{
    align-self: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    height: 250px;
    text-align: center;
    margin: 10px;
  }
  
  .avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .info p {
    color: black;
    margin: 0;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
