body {
    background-color: #222222;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-style: normal;
}

header {
    color: #000000;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul {
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    font-size: 1.25rem;
    padding-left: 15px;
    display: inline-block;
    justify-content: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color: #2f4550;
}

p {
    color: #ffffff;
    margin-top: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#logoimg{
    height: 45px;
}

#signUpButton{
    align-items: end;
    color: cyan;
}

.loginImg{
    height: 45px;
    margin: 0;
}

form{
    display: grid;
    padding: 0;
    margin: 0;
    align-items: center;
}

#loginBut{
    align-self: center;
}

.form-input{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropArea{
    width: 500px;
    height: 550px;
    padding: 30px;
    background: #586f7c;
    text-align: center;
    border-radius: 20px;
}

#file-view{
    margin-bottom: 15px;
    background-color: #ffffff;
    width: 100%;
    height: 65%;
    border-radius: 20px;
    border: 2px dashed;
}

#file-view img{
    width: 150px;
    margin-top: 20px;
}

#file-view span{
    display: block;
    font-size: 12px;
    color: gray;
}

#encryptionKey{
    font-size: 10px;
    width: 100%;
    height: 25px;
}

#upload{
    height: 30px;
    width: 60px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 10px;
}

#upload:hover{
    cursor: pointer;
}

.form-input h2{
    color: white;
}