body {
    background-color: #222222;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-style: normal;
}

header {
    color: #000000;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul {
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    font-size: 1.25rem;
    padding-left: 15px;
    display: inline-block;
    justify-content: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color: #2f4550;
}

p {
    color: #ffffff;
    margin-top: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#logoimg{
    height: 45px;
}

#signUpButton{
    align-items: end;
    color: cyan;
}

.loginImg{
    height: 45px;
    margin: 0;
}

#signUpContainer{
    background-color: #586f7c;
    width: 400px;
    height: 50%;
    border-radius: 15px;
}

#signlogo img{
    height: 150px;
}

#signUpForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

#signUp input{
    margin-left: 49px;
    width: 75%;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#signUp button{
    margin: 0;
    height: 30px;
    width: 75px;
    color: white;
    background-color: black;
    border: 0px;
    border-radius: 10px;
    align-self: center;
}

#signUp button:hover{
    cursor: pointer;
}
